name: "Automated Merging"

on:
  workflow_dispatch:
    inputs:
      stateId:
        description: "State Id"
      eventName:
        description: "Event Name"
      eventPayload:
        description: "Event Payload"
      settings:
        description: "Settings"
      authToken:
        description: "Auth Token"
      ubiquityKernelToken:
        description: "Kernel attestation token (optional)"
      ref:
        description: "Ref"
      signature:
        description: "The kernel signature"
      command:
        description: "Command"

jobs:
  compute:
    name: "Automated Merging"
    runs-on: ubuntu-latest
    permissions: write-all
    environment: ${{ github.ref == 'refs/heads/main' && 'main' || 'development' }}
    env:
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
      DENO_KV_URL: ${{ secrets.DENO_KV_URL }}
      DENO_KV_ACCESS_TOKEN: ${{ secrets.DENO_DEPLOY_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - run: ${{ toJSON(inputs) }}
        shell: cat {0}

      - name: Execute directive
        uses: ./
        env:
          KERNEL_PUBLIC_KEY: ${{ secrets.KERNEL_PUBLIC_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PLUGIN_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LOG_LEVEL: ${{ secrets.LOG_LEVEL }}
          DENO_KV_URL: ${{ secrets.DENO_KV_URL }}
          DENO_KV_ACCESS_TOKEN: ${{ secrets.DENO_DEPLOY_TOKEN }}
